/* ==================
   COLOR THEME
   ================== */
/*
$headerBack: #f16529;
$headerSeparator: #e44d26;
$headerInactive: #e44d26;

$codeBackground: #f7e7d7;

$text: #4d4d4d;
$link: #d5000d;
$linkHover: #c5000c;

/* orange
$headerBack: #ff9b3b;
$headerSeparator: #a65100;
$headerInactive: #fb7b00;
*/
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Calibri, Arial; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

/* ===================
    ALL: Orange Theme
   =================== */
.header-container {
  border-bottom: 4px solid #ef8928; }

.footer-container,
.main aside {
  border-top: 10px solid #ef8928; }

.header-container {
  background: #ffc995; }

.footer-container,
.main aside {
  background: #ffab5c; }

.title {
  color: white;
  margin: 6px 0px; }

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
  margin: 0;
  padding: 0; }

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  color: white;
  background: #ef8928; }

nav#level1 a {
  font-size: 110%;
  font-weight: bold; }

nav a.inactive {
  background: #ffab5c; }

nav a:hover,
nav a:visited {
  color: white; }

nav a:hover {
  text-decoration: underline; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0; }

.main article h1 {
  font-size: 2em; }

.main aside {
  color: white;
  padding: 0px 5% 10px; }

.footer-container footer {
  color: white;
  padding: 20px 0; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  color: #1c8093; }

a:visited {
  color: #086374; }

a:hover {
  color: #3d93a3; }

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 13px; }

code {
  background-color: #fff4db;
  border: solid 1px #ddd;
  padding: 0 3px; }

pre {
  padding: 20px;
  background: #fff4db;
  color: #1d1d1d;
  text-shadow: none;
  overflow: auto; }

pre code {
  color: #1d1d1d;
  background-color: #fff4db;
  border: none;
  padding: 0; }

a.button {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-top: solid 1px #cbcbcb;
  border-left: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  color: #303030;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 8px 12px 8px;
  display: block;
  /*  float: left; */
  width: 179px;
  margin-right: 14px;
  margin-bottom: 14px;
  background: #fdfdfd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f2f2f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
  /* IE10+ */
  background: linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8; }

a.button:hover {
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  background: #fafafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #d2d2d2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfdfd 0%, #d2d2d2 100%);
  /* IE10+ */
  background: linear-gradient(top, #fdfdfd 0%, #d2d2d2, 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#d2d2d2',GradientType=0 );
  /* IE6-9 */ }

a.button span {
  padding-left: 50px;
  display: block;
  height: 23px; }

#download-zip span {
  background: transparent url(../images/zip-icon.png) 12px 50% no-repeat; }

#download-tar-gz span {
  background: transparent url(../images/tar-gz-icon.png) 12px 50% no-repeat; }

#view-on-github span {
  background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat; }

#view-on-github {
  margin-right: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  body {
    background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
    color: #4d4d4d; }

  nav#level1 a {
    float: left;
    width: 27%;
    margin: 20px 1.7%;
    padding: 13px 2%;
    margin-bottom: 0;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }

  nav#level1 li:first-child a {
    margin-left: 0; }

  nav#level1 li:last-child a {
    margin-right: 0; }

  #header-border {
    width: 100%;
    margin: 0 0;
    background: #ef8928; }

  nav#level2 {
    display: block;
    padding-top: 2px;
    /*	padding-bottom: 0px; */
    text-align: right; }

  nav#level2 ul {
    display: inline-block; }

  nav#level2 a {
    float: none;
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 20px; }

  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline; }

  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa; }

  /* ============
      WIDE: Menu
     ============ */
  .title {
    float: left; }

  nav#level1 {
    float: right;
    width: 38%; }

  /* ============
      WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%; }

  .main aside {
    float: right;
    width: 28%;
    padding-bottom: 30px;
    margin-top: 30px; } }
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
