<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.title %}{{ page.title }} :: TimeBench.org{% else %}TimeBench.org :: a software library for visual analytics of time-oriented data{% endif %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="stylesheets/normalize.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="shortcut icon" type="image/svg+xml" href="images/timebench-favicon.svg">

        <script src="javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="clearfix">
		<div class="wrapper clearfix">
                <h1 class="title"><a href="#"><img src="images/timebench-logo-60.png" alt="TimeBench.org" width="321" height="60"></a></h1>
                <nav id="level1">
                    <ul>
                        <li><a href="gallery.html" class="inactive">Gallery</a></li>
                        <li><a href="start.html">Help</a></li>
                        <li><a href="#" class="inactive">Project</a></li>
                    </ul>
                </nav>
                </div>
		<div id="header-border">
                <nav id="level2" class="wrapper">
                    <ul>
{% include pages_in_category %}
                    </ul>
                </nav>
                </div>
            </header>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix">

                <article>
{{content}}
                </article>

                <aside>
                    <!-- <h3>aside</h3> -->
                    <p>TimeBench is a flexible, easy-to-use, and reusable software library written in Java that provides foundational data structures and algorithms for time- oriented data in Visual Analytics.</p>
                    <a href="https://github.com/ieg-vienna/TimeBench/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
                    <a href="https://github.com/ieg-vienna/TimeBench/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
                    <a href="https://github.com/ieg-vienna/TimeBench" id="view-on-github" class="button"><span>View on GitHub</span></a>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <p>TimeBench is licensed under the terms of a <a href="">BSD 2-clause license</a>.
                It is maintained by researchers from
                <a href="http://www.cvast.tuwien.ac.at/">Vienna University of Technology</a> and
                <a href="http://www.fhstp.ac.at/">St. P&ouml;lten University of Applied Sciences</a>.</p>
            </footer>
        </div>
<!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="javascripts/main.js"></script> -->
    </body>
</html>
